---
layout: splash
---

 <div class="headline-wrapper">
	<div class="full granimate">
		<div class="headline-desc">
			<h1>Upcoming Event (Meetup- #1)</h1>
			<ul>
				<li>Date - January 28, 2019</li>
				<li>Time - 10AM to 1PM</li>
				<li>Venue - C.Abdul Hakeem College Of Engineering And Technology,Melvisharam-632509</li>
			</ul>
			for registration<a href="" target="_blank" class="btn_catcher">Click here</a>
		</div>
		<div class="headline-img">
			<img src="" onclick="showMediaModal('')" />
		</div>
	</div>
</div>

<div class="category-wrapper">
	<div class="category-header">
		<h1>Meetup</h1>
		<p class="category-description">We organize technical meetups around Vellore once a month where our <b>active AI enthusiasts</b> participate, collaborate, learn and share knowledge or experience related to Artificial Intelligence.</p>
	</div>

	<div class="blog-category-box padding-box">
		<div class="category-box">
			<ul>
				{% for post in site.posts %}
				{% if post.category contains 'meetup' %}
				<li>
					<a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
						<div class='inner_box'>
							<div class="post-box">
								<div class="f-col-1"><div class="circle-meetup"></div></div>
								<div class="f-col-2">
									<h3>{{ post.title }}</h3>
									<h5>{{ post.venue }}</h5>
									<p>{{ post.description }}</p>
									<p class='front-date'>{{ post.date | date_to_long_string }}</p>
								</div>
							</div>
						</div>
					</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<div class="category-wrapper">
	<div class="category-header">
		<h1>Webinars</h1>
		<p class="category-description">Not only physical meetups, we also conduct live webinars where our <b>active AI enthusiasts</b> attend, share and collaborate knowledge or experience related to Artificial Intelligence.</p>
	</div>
</div>

<div class="category-wrapper">
	<div class="category-header">
		<h1>Blog</h1>
		<p class="category-description">We believe knowledge must be free. Hence, we write blog posts related to Artificial Intelligence such as Deep Learning, Machine Learning, Computer Vision, Natural Language Processing, Robotics and much more!</p>
	</div>


</div>

<div class="category-wrapper">
	<div class="category-header">
		<h1>Deans</h1>
		<p class="category-description">We are the Deans of Vellore School of AI chosen by our awesome Director, <a href="https://www.youtube.com/channel/UCWN3xxRkmTPmbKwht9FuE5A" target="_blank">Siraj Raval</a>, and our motto is to make AI accessible to anyone on this planet for free!</p>
	</div>

	<div class="blog-category-box">
		<div class="category-box">
			<ul>
				<li>
					<div class='speakers_box'>
						<div class="speakers_circle" style="background-image: url('https://drive.google.com/uc?id=1-_hr6WbYunf7_iEQN57xgRA2Pz30pv_h')"></div>
						<div class="post-box">
							<h3>Mohammed Hashim</h3>
							<p>Head , Department of EEE, CAHCET , Melvisharam.</p>
							<div class="speaker_social">
								<a href="https://github.com/cmhashim" target="_blank"><img src="/images/icons/github.png"></a>
								<a href="https://www.linkedin.com/in/cmhashim/" target="_blank"><img src="/images/icons/linkedin.png"></a>
							</div>
						</div>
					</div>
				</li>
				
			</ul>
		</div>
	</div>
</div>
